<?xml version="1.0"?>
<!--
/**
 * @author Stanislav Dergunov <developer.stanislav@gmail.com>
 * @copyright Copyright (c) 2017, Stanislav Dergunov
 */
 -->
<config>
    <modules>
        <DS_InvoiceEmail>
            <version>0.1.0</version>
        </DS_InvoiceEmail>
    </modules>
    <global>
        <blocks>
            <ds_invoice_email>
                <class>DS_InvoiceEmail_Block</class>
            </ds_invoice_email>
        </blocks>
        <resources>
            <ds_invoice_email_setup>
                <setup>
                    <module>DS_InvoiceEmail</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </ds_invoice_email_setup>
        </resources>
        <models>

            <sales_mysql4>
                <rewrite>
                    <order_grid_collection>DS_InvoiceEmail_Model_Mysql4_Sales_Order_Grid_Collection</order_grid_collection>
                </rewrite>
            </sales_mysql4>
            <sales_resource>
                <rewrite>
                    <order_grid_collection>DS_InvoiceEmail_Model_Mysql4_Sales_Order_Grid_Collection</order_grid_collection>
                </rewrite>
            </sales_resource>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <ds_invoice_email>
                    <file>ds/invoice_email.xml</file>
                </ds_invoice_email>
            </updates>
        </layout>
    </frontend>
</config>